/SystemsSoftwareProject/nbproject/private/
/SystemsSoftwareProject/dist/
/SystemsSoftwareProject/build/
/Systems-Software/SystemsSoftwareProject/nbproject/project.xml
/Systems-Software/SystemsSoftwareProject/nbproject/project.properties
/Systems-Software/SystemsSoftwareProject/nbproject/genfiles.properties
/Systems-Software/SystemsSoftwareProject/nbproject/build-impl.xml
/Systems-Software/SystemsSoftwareProject/WeatherStationID_List.txt
.DS_Store
